body {
    background-image: linear-gradient(#EFB4C2, #A77AC8);
}

.todo {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

.todo h1 {
    color: #e9ded4;
    font-weight: bold;
    font-size: 2.1rem;
}

.list-group {
    border-radius: 0;
}

.bottone {
    background-color: #FFBA74;
    color: #fff;
    border: none;
    padding: 0.5rem;
    border-radius: 15px;
    font-weight: bold;
}


svg {
    fill: #134074;
    width: 30px;
    height: 30px;
}

.todotext {
    font-style: italic;
    font-weight: 600;
}